@import url(https://fonts.googleapis.com/css?family=Product+Sans);
body {
  font-family: "Product Sans"; }

body {
  background: #212121;
  color: white;
  margin: 0; }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 40px);
  text-align: center; }

.logo {
  font-size: 5em; }
  @media (max-width: 420px) {
    .logo {
      font-size: 2em; } }

.blue {
  color: #4285F4; }

.red {
  color: #EC4335; }

.yellow {
  color: #FCBD04; }

.green {
  color: #35A853; }

.e {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  display: inline-block;
  margin-left: -5px; }

code {
  color: #FCBD04; }

a {
  color: #35A853;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  text-decoration: none; }
  a:hover {
    color: #EC4335; }

footer {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer a {
    color: #4285F4; }
