@import "google-logo-font"
$blue:    #4285F4
$red:     #EC4335
$yellow:  #FCBD04
$green:   #35A853

body
  background: #212121
  color: white
  margin: 0
main
  display: flex
  align-items: center
  flex-direction: column
  height: calc(100vh - 40px)
  text-align: center


.logo
  font-size: 5em
  @media (max-width: 420px)
    font-size: 2em

.blue
  color: $blue

.red
  color: $red

.yellow
  color: $yellow

.green
  color: $green

.e
  transform: rotate(-25deg)
  display: inline-block
  margin-left: -5px

code
  color: $yellow
  // background: black
  // padding: 10px 20px
  // border: white 1px solid

a
  color: $green
  transition: 300ms all ease-in-out
  text-decoration: none
  &:hover
    color: $red

footer
  height: 40px
  display: flex
  justify-content: center
  align-items: center
  a
    color: $blue
