doctype html
html(lang="en")
  head
      title Google
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description", content="Google Logo Font")
      meta(name="keywords", content="Google Logo Font")
      meta(name="author", content="Logan McAnsh")
      meta(name="theme-color", content="#4285F4")
      link(rel="shortcut icon" href="favicon.ico")
      link(rel="stylesheet", href="css/style.css")
  body
    main
      h1 Using the Google logo font on your website
      h1.logo 
        span.blue G
        span.red o
        span.yellow o
        span.blue g
        span.green l
        span.red e
        
      p the font isn't on 
        a(href="https://www.google.com/fonts") Google Fonts
        |  but it does use the same api and is available using
      code @import url(https://fonts.googleapis.com/css?family=Product+Sans);
      p and then you just need to tell css to use the fonts
      code body { font-family: "Product Sans" }
    footer
      a(href="https://github.com/mcansh/google-logo-font") View project on GitHub
    
